<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="true">

    <!-- Logback looks up system properties and OS environment variables by direct name -->
    <property name="SERVER_FILES_STORAGE_DIRECTORY" value="${SERVER_FILES_STORAGE_DIRECTORY}" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender" >
        <file>${SERVER_FILES_STORAGE_DIRECTORY}/logs/psso-idp-proxy-server-java.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${SERVER_FILES_STORAGE_DIRECTORY}/logs/psso-idp-proxy-server-java-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %X{requestId} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE" />
        <queueSize>2048</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>false</includeCallerData>
        <neverBlock>false</neverBlock>
    </appender>


    <root level="INFO">
        <appender-ref ref="ASYNC_FILE" />
    </root>

</configuration>